@font-face {
  font-family: '';
  src: url('/.ttf?enmnv5') format('truetype'), url('/.woff?enmnv5') format('woff'), url('/.svg?enmnv5#') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='ai-'], [class*=' ai-'] {
  display: inline-block;
  font-family: '' !important;
  speak: never;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ai-activity:before {
  content: '\e900';
}
.ai-airplay:before {
  content: '\e901';
}
.ai-alert-circle:before {
  content: '\e902';
}
.ai-alert-octagon:before {
  content: '\e903';
}
.ai-alert-triangle:before {
  content: '\e904';
}
.ai-align-center:before {
  content: '\e905';
}
.ai-align-justify:before {
  content: '\e906';
}
.ai-align-left:before {
  content: '\e907';
}
.ai-align-right:before {
  content: '\e908';
}
.ai-anchor:before {
  content: '\e909';
}
.ai-aperture:before {
  content: '\e90a';
}
.ai-archive:before {
  content: '\e90b';
}
.ai-arrow-down-circle:before {
  content: '\e90c';
}
.ai-arrow-down-left:before {
  content: '\e90d';
}
.ai-arrow-down-right:before {
  content: '\e90e';
}
.ai-arrow-down:before {
  content: '\e90f';
}
.ai-arrow-left-circle:before {
  content: '\e910';
}
.ai-arrow-left:before {
  content: '\e911';
}
.ai-arrow-right-circle:before {
  content: '\e912';
}
.ai-arrow-right:before {
  content: '\e913';
}
.ai-arrow-up-circle:before {
  content: '\e914';
}
.ai-arrow-up-left:before {
  content: '\e915';
}
.ai-arrow-up-right:before {
  content: '\e916';
}
.ai-arrow-up:before {
  content: '\e917';
}
.ai-at-sign:before {
  content: '\e918';
}
.ai-award:before {
  content: '\e919';
}
.ai-bar-chart-2:before {
  content: '\e91a';
}
.ai-bar-chart:before {
  content: '\e91b';
}
.ai-battery-charging:before {
  content: '\e91c';
}
.ai-battery:before {
  content: '\e91d';
}
.ai-behance:before {
  content: '\e91e';
}
.ai-bell-off:before {
  content: '\e91f';
}
.ai-bell:before {
  content: '\e920';
}
.ai-bluetooth:before {
  content: '\e921';
}
.ai-bold:before {
  content: '\e922';
}
.ai-book-open:before {
  content: '\e923';
}
.ai-book:before {
  content: '\e924';
}
.ai-bookmark:before {
  content: '\e925';
}
.ai-box:before {
  content: '\e926';
}
.ai-briefcase:before {
  content: '\e927';
}
.ai-calendar:before {
  content: '\e928';
}
.ai-camera-off:before {
  content: '\e929';
}
.ai-camera:before {
  content: '\e92a';
}
.ai-cast:before {
  content: '\e92b';
}
.ai-check-circle:before {
  content: '\e92c';
}
.ai-check-square:before {
  content: '\e92d';
}
.ai-check:before {
  content: '\e92e';
}
.ai-chevron-down:before {
  content: '\e92f';
}
.ai-chevron-left:before {
  content: '\e930';
}
.ai-chevron-right:before {
  content: '\e931';
}
.ai-chevron-up:before {
  content: '\e932';
}
.ai-chevrons-down:before {
  content: '\e933';
}
.ai-chevrons-left:before {
  content: '\e934';
}
.ai-chevrons-right:before {
  content: '\e935';
}
.ai-chevrons-up:before {
  content: '\e936';
}
.ai-chrome:before {
  content: '\e937';
}
.ai-clipboard:before {
  content: '\e938';
}
.ai-clock:before {
  content: '\e939';
}
.ai-cloud-drizzle:before {
  content: '\e93a';
}
.ai-cloud-lightning:before {
  content: '\e93b';
}
.ai-cloud-off:before {
  content: '\e93c';
}
.ai-cloud-rain:before {
  content: '\e93d';
}
.ai-cloud-snow:before {
  content: '\e93e';
}
.ai-cloud:before {
  content: '\e93f';
}
.ai-code:before {
  content: '\e940';
}
.ai-codepen:before {
  content: '\e941';
}
.ai-codesandbox:before {
  content: '\e942';
}
.ai-coffee:before {
  content: '\e943';
}
.ai-columns:before {
  content: '\e944';
}
.ai-command:before {
  content: '\e945';
}
.ai-compass:before {
  content: '\e946';
}
.ai-copy:before {
  content: '\e947';
}
.ai-corner-down-left:before {
  content: '\e948';
}
.ai-corner-down-right:before {
  content: '\e949';
}
.ai-corner-left-down:before {
  content: '\e94a';
}
.ai-corner-left-up:before {
  content: '\e94b';
}
.ai-corner-right-down:before {
  content: '\e94c';
}
.ai-corner-right-up:before {
  content: '\e94d';
}
.ai-corner-up-left:before {
  content: '\e94e';
}
.ai-corner-up-right:before {
  content: '\e94f';
}
.ai-cpu:before {
  content: '\e950';
}
.ai-credit-card:before {
  content: '\e951';
}
.ai-crop:before {
  content: '\e952';
}
.ai-crosshair:before {
  content: '\e953';
}
.ai-database:before {
  content: '\e954';
}
.ai-delete:before {
  content: '\e955';
}
.ai-disc:before {
  content: '\e956';
}
.ai-dollar-sign:before {
  content: '\e957';
}
.ai-download-cloud:before {
  content: '\e958';
}
.ai-download:before {
  content: '\e959';
}
.ai-dribbble:before {
  content: '\e95a';
}
.ai-droplet:before {
  content: '\e95b';
}
.ai-edit-2:before {
  content: '\e95c';
}
.ai-edit-3:before {
  content: '\e95d';
}
.ai-edit:before {
  content: '\e95e';
}
.ai-external-link:before {
  content: '\e95f';
}
.ai-eye-off:before {
  content: '\e960';
}
.ai-eye:before {
  content: '\e961';
}
.ai-facebook:before {
  content: '\e962';
}
.ai-fast-forward:before {
  content: '\e963';
}
.ai-feather:before {
  content: '\e964';
}
.ai-figma:before {
  content: '\e965';
}
.ai-file-minus:before {
  content: '\e966';
}
.ai-file-plus:before {
  content: '\e967';
}
.ai-file-text:before {
  content: '\e968';
}
.ai-file:before {
  content: '\e969';
}
.ai-film:before {
  content: '\e96a';
}
.ai-filter-alt:before {
  content: '\e96b';
}
.ai-filter:before {
  content: '\e96c';
}
.ai-flag:before {
  content: '\e96d';
}
.ai-folder-minus:before {
  content: '\e96e';
}
.ai-folder-plus:before {
  content: '\e96f';
}
.ai-folder:before {
  content: '\e970';
}
.ai-framer:before {
  content: '\e971';
}
.ai-frown:before {
  content: '\e972';
}
.ai-gift:before {
  content: '\e973';
}
.ai-git-branch:before {
  content: '\e974';
}
.ai-git-commit:before {
  content: '\e975';
}
.ai-git-merge:before {
  content: '\e976';
}
.ai-git-pull-request:before {
  content: '\e977';
}
.ai-github:before {
  content: '\e978';
}
.ai-gitlab:before {
  content: '\e979';
}
.ai-globe:before {
  content: '\e97a';
}
.ai-google:before {
  content: '\e97b';
}
.ai-grid:before {
  content: '\e97c';
}
.ai-hangouts:before {
  content: '\e97d';
}
.ai-hard-drive:before {
  content: '\e97e';
}
.ai-hash:before {
  content: '\e97f';
}
.ai-headphones:before {
  content: '\e980';
}
.ai-heart:before {
  content: '\e981';
}
.ai-help-circle:before {
  content: '\e982';
}
.ai-hexagon:before {
  content: '\e983';
}
.ai-home:before {
  content: '\e984';
}
.ai-image:before {
  content: '\e985';
}
.ai-inbox:before {
  content: '\e986';
}
.ai-info:before {
  content: '\e987';
}
.ai-instagram:before {
  content: '\e988';
}
.ai-italic:before {
  content: '\e989';
}
.ai-key:before {
  content: '\e98a';
}
.ai-layers:before {
  content: '\e98b';
}
.ai-layout:before {
  content: '\e98c';
}
.ai-life-buoy:before {
  content: '\e98d';
}
.ai-link-2:before {
  content: '\e98e';
}
.ai-link:before {
  content: '\e98f';
}
.ai-linkedin:before {
  content: '\e990';
}
.ai-list:before {
  content: '\e991';
}
.ai-loader:before {
  content: '\e992';
}
.ai-lock:before {
  content: '\e993';
}
.ai-log-in:before {
  content: '\e994';
}
.ai-log-out:before {
  content: '\e995';
}
.ai-mail:before {
  content: '\e996';
}
.ai-map-pin:before {
  content: '\e997';
}
.ai-map:before {
  content: '\e998';
}
.ai-maximize-2:before {
  content: '\e999';
}
.ai-maximize:before {
  content: '\e99a';
}
.ai-meh:before {
  content: '\e99b';
}
.ai-menu:before {
  content: '\e99c';
}
.ai-message-circle:before {
  content: '\e99d';
}
.ai-message-square:before {
  content: '\e99e';
}
.ai-messenger:before {
  content: '\e99f';
}
.ai-mic-off:before {
  content: '\e9a0';
}
.ai-mic:before {
  content: '\e9a1';
}
.ai-minimize-2:before {
  content: '\e9a2';
}
.ai-minimize:before {
  content: '\e9a3';
}
.ai-minus-circle:before {
  content: '\e9a4';
}
.ai-minus-square:before {
  content: '\e9a5';
}
.ai-minus:before {
  content: '\e9a6';
}
.ai-monitor:before {
  content: '\e9a7';
}
.ai-moon:before {
  content: '\e9a8';
}
.ai-more-horizontal:before {
  content: '\e9a9';
}
.ai-more-vertical:before {
  content: '\e9aa';
}
.ai-mouse-pointer:before {
  content: '\e9ab';
}
.ai-move:before {
  content: '\e9ac';
}
.ai-music:before {
  content: '\e9ad';
}
.ai-navigation-2:before {
  content: '\e9ae';
}
.ai-navigation:before {
  content: '\e9af';
}
.ai-octagon:before {
  content: '\e9b0';
}
.ai-odnoklassniki:before {
  content: '\e9b1';
}
.ai-package:before {
  content: '\e9b2';
}
.ai-paperclip:before {
  content: '\e9b3';
}
.ai-pause-circle:before {
  content: '\e9b4';
}
.ai-pause:before {
  content: '\e9b5';
}
.ai-paypal:before {
  content: '\e9b6';
}
.ai-pen-tool:before {
  content: '\e9b7';
}
.ai-percent:before {
  content: '\e9b8';
}
.ai-phone-call:before {
  content: '\e9b9';
}
.ai-phone-forwarded:before {
  content: '\e9ba';
}
.ai-phone-incoming:before {
  content: '\e9bb';
}
.ai-phone-missed:before {
  content: '\e9bc';
}
.ai-phone-off:before {
  content: '\e9bd';
}
.ai-phone-outgoing:before {
  content: '\e9be';
}
.ai-phone:before {
  content: '\e9bf';
}
.ai-pie-chart:before {
  content: '\e9c0';
}
.ai-pinterest:before {
  content: '\e9c1';
}
.ai-play-circle:before {
  content: '\e9c2';
}
.ai-play:before {
  content: '\e9c3';
}
.ai-plus-circle:before {
  content: '\e9c4';
}
.ai-plus-square:before {
  content: '\e9c5';
}
.ai-plus:before {
  content: '\e9c6';
}
.ai-pocket:before {
  content: '\e9c7';
}
.ai-power:before {
  content: '\e9c8';
}
.ai-printer:before {
  content: '\e9c9';
}
.ai-radio:before {
  content: '\e9ca';
}
.ai-refresh-ccw:before {
  content: '\e9cb';
}
.ai-refresh-cw:before {
  content: '\e9cc';
}
.ai-repeat:before {
  content: '\e9cd';
}
.ai-rewind:before {
  content: '\e9ce';
}
.ai-rotate-ccw:before {
  content: '\e9cf';
}
.ai-rotate-cw:before {
  content: '\e9d0';
}
.ai-rss:before {
  content: '\e9d1';
}
.ai-save:before {
  content: '\e9d2';
}
.ai-scissors:before {
  content: '\e9d3';
}
.ai-search:before {
  content: '\e9d4';
}
.ai-send:before {
  content: '\e9d5';
}
.ai-server:before {
  content: '\e9d6';
}
.ai-settings:before {
  content: '\e9d7';
}
.ai-share-2:before {
  content: '\e9d8';
}
.ai-share:before {
  content: '\e9d9';
}
.ai-shield-off:before {
  content: '\e9da';
}
.ai-shield:before {
  content: '\e9db';
}
.ai-shopping-bag:before {
  content: '\e9dc';
}
.ai-shopping-cart:before {
  content: '\e9dd';
}
.ai-shuffle:before {
  content: '\e9de';
}
.ai-sidebar:before {
  content: '\e9df';
}
.ai-skip-back:before {
  content: '\e9e0';
}
.ai-skip-forward:before {
  content: '\e9e1';
}
.ai-skype:before {
  content: '\e9e2';
}
.ai-slack:before {
  content: '\e9e3';
}
.ai-slash:before {
  content: '\e9e4';
}
.ai-sliders:before {
  content: '\e9e5';
}
.ai-smartphone:before {
  content: '\e9e6';
}
.ai-smile:before {
  content: '\e9e7';
}
.ai-speaker:before {
  content: '\e9e8';
}
.ai-star:before {
  content: '\e9e9';
}
.ai-stop-circle:before {
  content: '\e9ea';
}
.ai-sun:before {
  content: '\e9eb';
}
.ai-sunrise:before {
  content: '\e9ec';
}
.ai-sunset:before {
  content: '\e9ed';
}
.ai-tablet:before {
  content: '\e9ee';
}
.ai-tag:before {
  content: '\e9ef';
}
.ai-target:before {
  content: '\e9f0';
}
.ai-telegram:before {
  content: '\e9f1';
}
.ai-terminal:before {
  content: '\e9f2';
}
.ai-thermometer:before {
  content: '\e9f3';
}
.ai-thumbs-down:before {
  content: '\e9f4';
}
.ai-thumbs-up:before {
  content: '\e9f5';
}
.ai-toggle-left:before {
  content: '\e9f6';
}
.ai-toggle-right:before {
  content: '\e9f7';
}
.ai-tool:before {
  content: '\e9f8';
}
.ai-trash-2:before {
  content: '\e9f9';
}
.ai-trash:before {
  content: '\e9fa';
}
.ai-trello:before {
  content: '\e9fb';
}
.ai-trending-down:before {
  content: '\e9fc';
}
.ai-trending-up:before {
  content: '\e9fd';
}
.ai-truck:before {
  content: '\e9fe';
}
.ai-tumblr:before {
  content: '\e9ff';
}
.ai-tv:before {
  content: '\ea00';
}
.ai-twitch:before {
  content: '\ea01';
}
.ai-twitter:before {
  content: '\ea02';
}
.ai-type:before {
  content: '\ea03';
}
.ai-umbrella:before {
  content: '\ea04';
}
.ai-underline:before {
  content: '\ea05';
}
.ai-unlock:before {
  content: '\ea06';
}
.ai-upload-cloud:before {
  content: '\ea07';
}
.ai-upload:before {
  content: '\ea08';
}
.ai-user-check:before {
  content: '\ea09';
}
.ai-user-minus:before {
  content: '\ea0a';
}
.ai-user-plus:before {
  content: '\ea0b';
}
.ai-user-x:before {
  content: '\ea0c';
}
.ai-user:before {
  content: '\ea0d';
}
.ai-users:before {
  content: '\ea0e';
}
.ai-viber:before {
  content: '\ea0f';
}
.ai-video-off:before {
  content: '\ea10';
}
.ai-video:before {
  content: '\ea11';
}
.ai-vimeo:before {
  content: '\ea12';
}
.ai-vk:before {
  content: '\ea13';
}
.ai-voicemail:before {
  content: '\ea14';
}
.ai-volume-1:before {
  content: '\ea15';
}
.ai-volume-2:before {
  content: '\ea16';
}
.ai-volume-x:before {
  content: '\ea17';
}
.ai-volume:before {
  content: '\ea18';
}
.ai-watch:before {
  content: '\ea19';
}
.ai-wechat:before {
  content: '\ea1a';
}
.ai-wifi-off:before {
  content: '\ea1b';
}
.ai-wifi:before {
  content: '\ea1c';
}
.ai-wind:before {
  content: '\ea1d';
}
.ai-x-circle:before {
  content: '\ea1e';
}
.ai-x-octagon:before {
  content: '\ea1f';
}
.ai-x-square:before {
  content: '\ea20';
}
.ai-x:before {
  content: '\ea21';
}
.ai-youtube:before {
  content: '\ea22';
}
.ai-zap-off:before {
  content: '\ea23';
}
.ai-zap:before {
  content: '\ea24';
}
.ai-zoom-in:before {
  content: '\ea25';
}
.ai-zoom-out:before {
  content: '\ea26';
}
.ai-quotes:before {
  content: '\ea27';
}
.ai-star-filled:before {
  content: '\ea28';
}
.ai-whatsapp:before {
  content: '\ea29';
}